@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/open-sans-v13-latin-regular.woff2') format('woff2'), url('fonts/open-sans/open-sans-v13-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('fonts/open-sans/open-sans-v13-latin-700.woff2') format('woff2'), url('fonts/open-sans/open-sans-v13-latin-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #FFFFFF;
    background-color: #333333;
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100%;
}

a {
    color: #FFFFFF;
}

.view-source {
    font-family: 'opensans';
    right: 20px;
    bottom: 20px;
    position: absolute;
    font-size: 11px;
    border: 1px solid gray;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 10px;
    cursor: pointer;
    cursor: hand;
}

.view-source:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #BCFF00;
}

#container {
    position: absolute;
}

#loading-msg {
    font-family: 'opensans-bold';
    position: absolute;
    font-size: 11px;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #BCFF00;
}

#barQueue,
#movementQueue,
#predictionResults {
    font-family: 'opensans';
    position: absolute;
    font-size: 11px;
    width: 300px;
}

#barQueue {
    left: 20px;
    top: 0px;
}

#movementQueue {
    left: 360px;
    top: 0px;
}

#predictionResults {
    left: 20px;
    bottom: 10px;
}

#barQueue h3,
#movementQueue h3,
#predictionResults h3 {
    color: #BFFF00;
    font-weight: bold;
}

#gui {
    position: absolute;
    bottom: 20px;
    left: 20px
}